In [13]:
prices = [1500,3200,2500,4000,5500]

for i in range(len(prices)):
    print(f'{i}. {prices[i]}')
    prices[i] = prices[i] + prices[i]*0.05

print(prices)

0. 1500
1. 3200
2. 2500
3. 4000
4. 5500
[1575.0, 3360.0, 2625.0, 4200.0, 5775.0]

In [3]:
cubes = [x for x in range(1,10)]
cubes1 = [x for x in range(1,10) if x%3==0]

print(cubes1)

[3, 6, 9]

In [27]:
for i in range(1,11):
    # v1(true) if 조건문 v2(false)
    # 값1(t) if 조건 값2(f)
    print("짝수" if i%2==0 else '홀수')

홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수

In [ ]:
result = ["짝수" if i%2==0 else "홀수" for i in range(1,21)]
print(result)

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']

In [37]:
score = [71,80,60,90,65]
result = ["합격" if s>=70 else "불합격" for s in score]
print(result)

['합격', '합격', '불합격', '합격', '불합격']

In [1]:
let = ['a','b','c','d','e']
v = let[1:2]
last = let[0:-1]
print(last)

['a', 'b', 'c', 'd']

In [ ]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 1. 리스트의 첫 5개 요소만 출력 [0, 1, 2, 3, 4]
print(a[:5]) 

# 2. 리스트의 마지막 3개 요소 출력 [7, 8, 9]
# print(a[0:-3])
print(a[-3:])

# 3. 리스트에서 2번째부터 6번째까지 출력
print(a[1:6])

# 4. 리스트에서 짝수 인덱스만 출력 [::2]
print(a[::2])

# 5. 리스트를 거꾸로 출력[::-1]
print(a[::-1])

# 6. 리스트의 중간 4개 요소만 출력 [3, 4, 5, 6]
print(a[3:7])

# 7. 리스트에서 앞의 7개를 제외하고 출력 [7, 8, 9]
print(a[7:])

# 8. 리스트에서 3번째부터 끝까지 출력
print(a[2:])

# 9. 리스트에서 첫 5개 중 홀수 인덱스만 출력
print(a[:5:2])

# 10. 리스트를 3칸씩 건너뛰며 출력
print(a[::3])

# 11. 리스트에서 -5부터 -2까지 출력
print(a[-5:-2+1])


# 12. 리스트의 길이를 이용해 끝에서 4번째 요소부터 출력
print(a[len(a)-4:])


b = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# 13.리스트에서 중앙의 요소를 기준으로 양쪽 2개씩 출력
mean = len(b) // 2
result = b[mean-2:mean+3]

print(result)

# 14. 리스트를 복사해서 새로운 리스트로 만들기
c=b[:]
print(c)

[0, 1, 2, 3, 4]
[7, 8, 9]
[1, 2, 3, 4, 5]
[0, 2, 4, 6, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[3, 4, 5, 6]
[7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4]
[0, 3, 6, 9]
[5, 6, 7, 8]
[6, 7, 8, 9]
[3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
pl= ["파이썬","자바"]
tl = ["c++","c"]
pl.extend(tl)
print(pl)

['파이썬', '자바', 'c++', 'c']

In [43]:
pl= ["파이썬","자바"]
pl.insert(1,"c")
pl.pop()
pl.append("vue")
print(pl)

['파이썬', 'c', 'vue']

In [ ]:
pl= ["파이썬","자바","c","c++"]
result = pl.pop()
print(result)

자바

In [51]:
pl= ["파이썬","자바","c","c++"]
del pl[3],pl[0]
print(pl)

['자바', 'c']

In [56]:
pl= ["파이썬","자바","c","c++","c"]
pl.remove("c") 
pl.remove("c") 

pl.clear()
print(pl)

[]

In [ ]:
n = ["한국","미국","영국","일본"]
n.reverse() #['일본', '영국', '미국', '한국']
n.sort() #['미국', '영국', '일본', '한국'] 오름차순
n.sort(reverse=True) #['한국', '일본', '영국', '미국'] 내림차순
print(n)

print(n.index("미국"))

if "중국" in n:
    print("있어요")
else:
    print("없어요")

['한국', '일본', '영국', '미국']
3
없어요

In [ ]:
# month = ["1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"]

month1 = [f"{x}월" for x in range(1,13)]

# print(month)
# month1 = month[:]

while True:
    answer = input("월입력 :")

    if answer == "종료":
        break

    if answer in month1:
        print(month1.index(answer)+1)
    else:
        print("해당월이 없습니다.")

In [ ]:
#십이지신은 땅을 지키는 열두마리의 동물입니다. 
#한자를 입력하면 한글 동물이름을 출력하는 프로그램 만들기
# 예) [묘] 입력 -> [토끼] 나오게