In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pandas as pd

In [3]:
w = pd.read_csv("data/chick004.csv")
w.head()

  chick_nm  weight  egg_weight  movement  food
0      a01     140          65       146    14
1      a02     128          62       153    12
2      a03     140          65       118    13
3      a04     135          65       157    13
4      a05     145          69       157    13

In [5]:
w.info()
w.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   chick_nm    30 non-null     object
 1   weight      30 non-null     int64
 2   egg_weight  30 non-null     int64
 3   movement    30 non-null     int64
 4   food        30 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.3+ KB

          weight  egg_weight    movement       food
count   30.00000   30.000000   30.000000  30.000000
mean   137.60000   65.100000  137.666667  12.733333
std      6.97582    2.856933   20.800088   1.311312
min    125.00000   61.000000  102.000000  10.000000
25%    133.00000   62.250000  121.000000  12.000000
50%    138.00000   65.000000  138.000000  13.000000
75%    143.00000   67.000000  156.250000  13.000000
max    148.00000   70.000000  174.000000  15.000000

In [ ]:
X = w[['egg_weight']]
y= w['weight']

print(X.shape,y.shape)

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=40)

print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(30, 1) (30,)
(24, 1) (24,)
(6, 1) (6,)

In [14]:
model = LinearRegression()
model.fit(X_train,y_train)

y_pred = model.predict(X_test)
print(y_pred)

[137.28813559 149.11016949 146.74576271 146.74576271 127.83050847
 142.01694915]

In [ ]:
print(y_test.values)

[140 148 148 145 128 143]

In [18]:
coef = model.coef_
intercept = model.intercept_
print(f'기울기 : {coef}')
print(f'절편 : {intercept}')

기울기 : [2.36440678]
절편 : -16.39830508474583

In [20]:
print(f'훈련세트 정확도 : {model.score(X_train,y_train)}')
print(f'테스트세트 정확도 : {model.score(X_test,y_test)}')

훈련세트 정확도 : 0.8938610996279455
테스트세트 정확도 : 0.9496361708239863

In [21]:
X = w[['egg_weight',"food"]]
y= w['weight']

print(X.shape,y.shape)

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=40)

print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(30, 2) (30,)
(24, 2) (24,)
(6, 2) (6,)